Language: Cpp
ColumnLimit: 100
IndentWidth: 4

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
PenaltyReturnTypeOnItsOwnLine: 1000
